body{
  background-color: rgb(245, 122, 142);
}

.navbar{
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(254, 197, 197);
  color: black;
  padding: 7px;
}

.home, .about {
  margin-left: 30px;
  font-weight: 400;
  cursor: pointer;
}

.name{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 800;
  color: rgb(86 128 128);
  cursor: pointer;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.bg{
  height: 430px;
  width: 700px;
  background-image: url(bg.jpg);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.songList{
  width: 20%;
  position: relative;
  top: -60px;
  left: 30px;

}

.songTitle{
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  background-color: white;
  padding: 5px 20px;
  border-radius: 20px;
  cursor:pointer;
}

.gifMerge{
  display: flex;
  align-items: center;
  position: fixed;
  left: 15.5vw;
}

.time{
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.songExtra{
  width: 80%;
}

.scroller{
  display: flex;
  align-items: center;
  justify-content: center;
}

#range{
  width: 70%;
  cursor: pointer;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  .back, .play, .next{
    margin: 5px;
    cursor: pointer;
  }
}

.gif{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.song{
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.songname{
  font-weight: bold;
}

@media (max-width: 600px) {
  .gifMerge{
    display: flex;
    align-items: center;
    position: fixed;
    left: 17vw;
  }
}